---
import WorkCards from './WorkCards.astro'
---

<div class="container cards-container">
    <WorkCards/>
</div>

<style>
    .container.cards-container
    {
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
        gap: 40px;
    }
</style>