<div class="hero" id="hero">
    <img src="src/imgs/card_images/hero_bg.jpg" alt="">
</div>


<style>
    .hero
    {
        height: 500px;
        margin-bottom: 40px;
    }

    .hero img
    {
        height: 100%;
        object-fit: cover;
    }
</style>