---
const cardImages = [
    "src/imgs/card_images/hero_bg.jpg",
    "src/imgs/card_images/hero_bg.jpg",
    "src/imgs/card_images/hero_bg.jpg",
    "src/imgs/card_images/hero_bg.jpg",
];

const titles = ["Title 1", "Title 2", "Title 3", "Title 4"];
const subtitle = ["Subtitle 1", "Subtitle 2", "Subtitle 3", "Subtitle 4"];

const workCards = titles.map((titles, index) => ({
    workCardImage: cardImages[index],
    workCardTitle: titles,
    workCardSubtitle: subtitle[index],
}));
---

<div class="container work-cards-container">
    {
        workCards.map((workCard) => (
            <div class="card work-card" id="work_card">
                <img
                    src={workCard.workCardImage}
                    alt={workCard.workCardImage}
                />
                <div class="container titles-container">
                    <h3 class="title" id="title">
                        {workCard.workCardTitle}
                    </h3>
                    <p class="subtitle" id="subtitle">
                        {workCard.workCardSubtitle}
                    </p>
                </div>
            </div>
        ))
    }
</div>

<style>
    .card.work-card {
        display: flex;
        flex-direction: column;
        width: 300px;
        min-height: 300px;
    }

    .card.work-card:nth-child(odd) .container.titles-container {
        order: 1;
        text-align: left;
    }

    .card.work-card img {
        height: 100%;
    }

    .card.work-card .container.titles-container {
        margin-top: 10px;
    }

    .card.work-card .container.titles-container p.subtitle {
        font-size: 16px;
        margin-top: 5px;
    }

    @media screen and (min-width: 768px) {
        .card.work-card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            gap: 40px;
            height: 400px;
            width: 100vw;
        }

        .card.work-card img {
            flex-basis: 50%;
            object-fit: cover;
            height: 100%;
        }

        .card.work-card .container.titles-container {
            flex-basis: 50%;
            text-align: right;
        }
        .card.work-card:nth-child(odd) .container.titles-container {
            order: -1;
            text-align: left;
        }
    }
</style>
